#!/bin/bash

# dependency update for bot deps
VENV_ACTIVATE='source ~/raidbotenv/bin/activate'
# shellcheck disable=SC2016
UPDATE_BOT_DEPS='[[ $(pip list --outdated --format=freeze | grep -v '\''^\-e'\'' | cut -d = -f 1) != "" ]] && '\
'pip list --outdated --format=freeze | grep -v '\''^\-e'\'' | cut -d = -f 1  | xargs -n1 pip install -U || '\
'echo Dependencies are up to date.'

# 'exit' to ensure the ssh connection gets terminated
RESTART_BOT="sudo systemctl restart raidbot && exit"

# deploy to gcloud
echo Deploying to gcloud...
gcloud compute scp --recurse raidbot/ {YOUR_VM_NAME}:{YOUR_VM_DIRECTORY}

# update python deps for bot on gcloud
echo Updating dependencies...
gcloud compute ssh {YOUR_VM_NAME} --zone={YOUR_VM_ZONE} --command="$VENV_ACTIVATE && $UPDATE_BOT_DEPS"
# restart bot on gcloud
echo Restarting bot...
gcloud compute ssh {YOUR_VM_NAME} --zone={YOUR_VM_ZONE} --command="$RESTART_BOT"

echo Done!
